@{
    ViewData["Title"] = "Home Page";
}
    <div class="panel narrow fg-gradient montserrat">

        <img src="~/images/burning coffee bean.png" class="logo" />
        <h1>Burnin' Beans</h1>

        <div class="py-3">
            <a href="/Inventory/" class="text-decoration-none"><div class="btn-top btn p-4">View Inventory</div></a>
            <a href="/Coffee/Create" class="text-decoration-none"><div class="btn p-4">Add Coffee</div></a>
            <a href="/Inventory/GreenIndex/" class="text-decoration-none"><div class="btn-bottom btn p-4"><i class="fas fa-fire"></i> Roast</div></a>
        </div>
    </div>
    
