@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Burnin' Beans</h1>
    <a href="/Inventory/">View Inventory</a>
    <a href="/Coffee/Create">Add Coffee</a>
    <a href="/Inventory/GreenIndex/">Roast</a>
</div>
