@{
    ViewData["Title"] = "Home Page";
}
    <div class="panel narrow fg-gradient montserrat">
        <h1 class="my-3 border-bottom">Burnin' Beans</h1>
        <div class="py-3">
            <a href="/Inventory/" class="text-decoration-none"><div class="btn-top btn">View Inventory</div></a>
            <a href="/Coffee/Create" class="text-decoration-none"><div class="btn">Add Coffee</div></a>
            <a href="/Inventory/GreenIndex/" class="text-decoration-none"><div class="btn-bottom btn">Roast</div></a>
        </div>
    </div>
    
