/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Twitter Typeahead Styles*/

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 100%;
    margin-top: 12px;
    padding: .5rem 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

    .tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion p {
        margin: 0;
    }

    /* Gradients */


body {
    background-color: #681a01;
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    width: 100%;
}
.container {
    height: 90%;
}
main {
    display: block;
    margin: auto;
    height: 100%;

}

.panel {
    background-color: white;
    margin: auto;
    padding: 3rem;
    border-radius: 20px 20px 0px 0px;
    height: 100%;
    text-align: center;
    color: rgb(39, 39, 39);
}

.panel-inner {
    background-color: white;
    margin: auto;
    padding: 3rem;
    border-radius: 20px;
    height: 100%;
    text-align: center;
    color: rgb(39, 39, 39);
}

@media (max-width: 800px){
    .panel{
        padding: 3rem 0rem 3rem 0rem;
    }

    .panel-inner{
        padding: 0rem;
    }
}

.narrow {
    max-width: 500px;
}

.btn {
    display: block;
    border: 2px solid silver;
    background-color: white;
    padding: .5rem;
    margin: auto;
    cursor: pointer;
    color: rgb(39, 39, 39);
    font-size: 2rem;
}

.btn-table {
    display: inline-block;
    align-self: center;
    border: 2px solid silver;
    background-color: white;
    width: 5rem;
    padding: 1rem;
    margin: 0rem .2rem 0rem .2rem;
    cursor: pointer;
    color: rgb(39, 39, 39);
    font-size: 1.5rem;
}

input.btn {
    background-color: initial;
    display: block;
    width: 100%;
}
.btn-top {
    border-radius: 20px 20px 0px 0px;
}

.btn-bottom {
    border-radius: 0px 0px 20px 20px;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: #CFA587;
    color: black;
}

h1.border-bottom {
    border-bottom: 2px solid rgb(39, 39, 39) !important;
}
.fg-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

h1, h4 {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    height: 10rem;
}

nav {
    background-color: #CFA587;
}