@model SelectListTest.Models.InventoryViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>InventoryModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.Coffee" class="control-label"></label>
                <select asp-for="Item.Coffee.Id" asp-items="Model.Coffees" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Item.Vendor" class="control-label"></label>
                <select asp-for="Item.Vendor.Id" asp-items="Model.Vendors" class="form-control"></select>
                <input type="hidden" value="dummy" name="Item.Vendor.Name" />
            </div>
            <div class="form-group">
                <label asp-for="Item.PricePerLbs" class="control-label"></label>
                <input asp-for="Item.PricePerLbs" class="form-control" />
                <span asp-validation-for="Item.PricePerLbs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.LbsOnHand" class="control-label"></label>
                <input asp-for="Item.LbsOnHand" class="form-control" />
                <span asp-validation-for="Item.LbsOnHand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
