@model SelectListTest.Models.InventoryViewModel

@{
    ViewData["Title"] = "Edit";
}

    <div class="panel narrow fg-gradient">
        <h1>Edit</h1>

        <hr />
            <div class="panel-inner">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ItemId" />
                    <div class="form-group">
                        <label asp-for="CoffeeFullName" class="control-label"></label>
                        <select asp-for="CoffeeId" asp-items="Model.Coffees" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="VendorName" class="control-label"></label>
                        <select asp-for="VendorId" asp-items="Model.Vendors" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="RoastName" class="control-label"></label>
                        <select asp-for="RoastId" asp-items="Model.Roasts" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="PricePerLbs" class="control-label"></label>
                        <input asp-for="PricePerLbs" class="form-control" />
                        <span asp-validation-for="PricePerLbs" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LbsOnHand" class="control-label"></label>
                        <input asp-for="LbsOnHand" class="form-control" />
                        <span asp-validation-for="LbsOnHand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn"/>
                    </div>
                    <div>
                        <a asp-action="Index" class="btn">Back</a>
                    </div>
                </form>
        </div>

        
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
